@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);
  font-family: $typographic-heading-font-family;
  font-weight: 600;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 1.5rem 0;

      &-link {
        font-size: $typographic-base-font-size * 1.2;
        color: $typographic-base-font-color;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
        }

        &--active {
          color: $color-darker-primary;
          border-bottom: 0.2rem solid $color-secondary;
          padding-bottom: 2px;
        }

      }

    }

  }

}